<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>상품 목록</h1>
    <hr>
    <table>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>price</td>
            <td>qty</td>
        </tr>
        <tr>
            <td>1</td>
            <td>바나나</td>
            <td>1000원</td>
            <td>10개</td>
        </tr>
    </table>
</body>
</html>